:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

body {
  margin: 0;
  
  background-color: var(--light);
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header"
                        "main main"
                        "footer footer";
  gap: 5px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  
  font-family: var(--primary-font);
  font-size: 11px;
  color: var(--dark);
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 90%;
  }
}

.header {
  display: grid;
  place-items: center;
  grid-area: header;
  padding: 18px;
  
  box-shadow: 0 3px 5px -2px rgba(34, 60, 80, 0.4);
  background-color: var(--light);
}

.photographer-info {
  display: grid;
  place-items: center;
}

.photographer-info__img-wrapper {
  margin: 0;
}

.photographer-info__header {
  margin: 0;
  
  font-size: 22px;
  font-family: var(--secondary-font);
}

.fz-16 {
  font-size: 16px;
}

.fz-12 {
  font-size: 12px;
}

.fz-10 {
  font-size: 10px;
}

.photographer-info__description {
  margin: 0;
}

.main-wrapper {
  grid-area: main;
  display: grid;
  grid-template-areas: "photos bio";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

@media (max-width: 992px) {
  .main-wrapper {
    grid-template-areas: "bio" "photos";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.photos {
  grid-area: photos;
  box-shadow: 0 3px 5px -2px rgba(34, 60, 80, 0.4);
  background-color: var(--light);
}

.photos__masonry {
  margin: 0;
  padding: 20px;
  column-count: 3;
  column-width: 150px;
  column-gap: 10px;
  
  list-style-type: none;
}

@media (max-width: 768px) {
  .photos__masonry {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    column-count: unset;
    column-width: unset;
    column-gap: unset;
  }
}

.photos__item {
  margin-bottom: 10px;
  width: 200px;
  max-height: 500px;
  
  border-radius: 5px;
  
  overflow: hidden;
}

@media (max-width: 992px) {
  .photos__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .photos__item {
    display: grid;
    justify-items: center;
  }
}

.photos__img {
  display: block;
  width: 200px;
  height: 100%;
  
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 992px) {
  .photos__img {
    width: 100%;
  }
}

.bio {
  position: sticky;
  top: 0;
  display: grid;
  justify-content: center;
  grid-area: bio;
  align-self: flex-start;
  padding: 10px;
  
  box-shadow: 0 3px 5px -2px rgba(34, 60, 80, 0.4);
  background-color: var(--light);
}

@media (max-width: 992px) {
  .bio {
    position: static;
  }
}

.bio__info-wrapper {
  margin: 0 0 7px 0;
}

.bio__avatar-wrapper {
  display: grid;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0;
}

.bio__avatar {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  border-radius: 100%;
}

.bold-600 {
  font-weight: 600;
}

.bio__text {
  margin: 0 0 7px 0;
  text-align: center;
}

.bio__social-links {
  display: grid;
  grid-template-columns: repeat(4, 16px);
  grid-template-rows: 13px;
  justify-content: center;
  justify-items: center;
  align-items: end;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.bio__social-link a {
  display: block;
  width: auto;
  height: 12px;
}

.bio__social-link:hover svg {
  transition: 300ms ease-in-out;
}

.bio__social-link:hover svg {
  fill: var(--primary-color);
}

.bio__social-icon {
  height: 10px;
  width: auto;
}

.footer {
  display: grid;
  justify-content: center;
  grid-area: footer;
  padding: 10px 0;
  
  box-shadow: 0 3px 5px -2px rgba(34, 60, 80, 0.4);
  background-color: var(--light);
}

.footer__copyright {
  margin: 0;
  
  text-align: center;
}